*{
	box-sizing: border-box;
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

html, body {
	background-color: WhiteSmoke;
}
/* .logo {
	width: 100px;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
} */
.questionStyle button{
	width: 10%;

}

.questionStyle p{
	text-align: justify;
	color: black;
}

.questionStyle p:nth-child(3) {
	color: DarkSlateGrey;
}

.questionStyle h4{
	text-align: left;
	font-size: large;
	font-weight: lighter;
	color: brown;
}

.questionStyle span{
	margin-right: 0.7rem;
	font-weight: bold;

}

.questionStyle{
	padding: 1rem;

}

.questionStyle:hover{
	background-color: rgb(0, 0, 0,0.1);

}
.listedQtnThreadFormat button, 
.listedQtnThreadFormat button:hover, 
.listedQtnThreatFormat button:focus {
  outline: none;
}

.listedQtnThreadFormat button {
  border: none; 
}

/* .tentative {
  width: 100%;
  margin-bottom: 1rem;
  min-height: 30vh;
  background-color: transparent;
} */

.listedQtnThreadFormat {
  display: flex;
  flex-direction: column;
}

.answersFormat {
	border-left: 3px solid brown;
}

.subAnswersFormat {
	margin-left: 1rem;
}

.replyFormStyle {
	display: flex;
	flex-direction: column;
	/* position: -webkit-sticky; /* Safari */
 	/* position: sticky; */
 	/* bottom: 1.5rem; */
}

.replyFormStyle textarea{
	margin: 1rem 0;
	/* border-radius: 4px; */
}

.replyFormStyle button {
	padding: 1rem;
	border-radius: 8px;
	border: none;
	margin-bottom: 2rem;
}

.replyFormStyle input {
	/* padding: 1rem;
	border-radius: 4px; */
	margin: 1rem 0;	
}

.replyFormStyle p {
	text-align: justify;
}

.selectedQtnContain {
	margin: 0.7rem auto;
	width: 80%;
	background-color: WhiteSmoke;
}

.selectedQtnContain li{
	list-style: none;	
}

.questionByIdStyle h3{
	text-align: left;
	font-size: large;
	font-weight: lighter;
	color: brown;
}

.questionByIdStyle span{
	margin-right: 1rem;
	font-weight: bold;
}

.questionByIdStyle p{
	text-align: justify;
}

.subAnswersFormat .p1{
	margin-bottom: 0;
}

.wrapper{
  border: 1px solid grey;
}

/* .editor{
  background-color: transparent;
} */

 .wrapper {
  padding: 1rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  margin-bottom: 1rem;
} 
.editor {
  background-color: white;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.toolbar {
  border: 1px solid #ccc;
  border-radius: 8px;
}

.main {
	background-color: lightblue;
	min-height: 1000px;
	/*text-align: center;*/
}

label, input {
	/*display: flex;
	flex-direction: column;*/
	display: block;
	size: 50px;
	width: 100%;
	margin: 10px;
	
}

label {
	color: white;
	float: left;
	font-size: 25px;
}

input {
	height: 30px;
	font-size: 20px;
}

h1, h2 {
	color: white;
	padding-top: 30px;
	text-align: center;
}

button {
	cursor: pointer;
	width: 100px;
	height: 30px;
	border-radius: 4px;
	background-color: green;
	color: white;
	position: left;
	font-size: 18px;
}

button:hover {
	background-color: lightgreen;
	color: black;
}

.categoryBtn {
	width: 300px;
	height: 40px;
	margin: 10px;
}

.mainCatbtn {
	height: auto;
}

form {
	max-width: 600px;
	/*position: relative;*/
	margin: auto;
	padding: auto;
}

#categoryDiv {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	margin: 10px;
}

.questionsDiv {
	border: 1px solid black;
	width: 80%;
	margin: 0 auto;
	position: center;
	min-height: 400px;
	margin-bottom: 20px;
	margin-top: 10px;

	background-color: whitesmoke;
}

.navigation {
	overflow: hidden;
	min-width: 80%;
}

.top {
	min-width: 80%;
}

ul {
	list-style-type: none;
	margin: 40px;
	width: 300px;
	padding: 0;
	float: right;
}

ul li {
	display: inline-block;
	margin: 10px;
}

a {
	color: black;
	text-decoration: none;
	/*float: right;*/
}

