*{
	box-sizing: border-box;
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

html, body {
	background-color: WhiteSmoke;
}
/* .logo {
	width: 100px;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
} */


/* .hideQtnByIdBtn:hover{
	background-color: rgb(165, 42, 42, 0.7); /*brown*/
	/* color: whitesmoke; */
	

/* }  */



/* .wrapper{
  border: 1px solid grey;
} */


 .wrapper {
  padding: 1rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  margin-bottom: 1rem;
} 
.editor {
  background-color: white;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}
/* .toolbar {
  border: 1px solid #ccc;
  border-radius: 8px;
} */

.toolbar button{
  background-color: brown;
  color: black;
  padding: 1rem;
}

.toolbar span{
  color: darkslategray;
}

.rdw-link-modal-label {
	color: darkslategray;
}

.rdw-link-modal-btn {
	color: darkslategray;
	background-color: deeppink;
}


.main {
	background-color: lightblue;
	min-height: 1000px;
	/*text-align: center;*/
}

.main button {
	float: right;

}


label, input {
	/*display: flex;
	flex-direction: column;*/
	display: block;
	size: 50px;
	width: 100%;
	margin: 10px;
	
}

label {
	color: white;
	float: left;
	font-size: 25px;
}

input {
	height: 30px;
	font-size: 20px;
}

h1, h2 {
	color: lightgrey;
	padding-top: 30px;
	text-align: center;
}

/*
h1 {
	-webkit-text-stroke: 0.6px black;

	font-size: 35px;
}

button {
	cursor: pointer;
	width: 100px;
	height: 30px;
	border-radius: 4px;
	background-color: green;
	color: white;
	position: left;
	font-size: 18px;
}

button:hover {
	background-color: lightgreen;
	color: black;
} */

.categoryBtn {
	width: 300px;
	height: 40px;
	margin: 10px;
}

.mainCatbtn {
	height: auto;
}

form {
	max-width: 600px;
	/*position: relative;*/
	margin: auto;
	padding: auto;
	margin-top: 20px;
}

#categoryDiv {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	margin: 10px;
}

.questionsDiv {	
	border: 1px solid black;
	width: 95%;
	margin: 0 auto;
	min-height: 100vh;
	background-color: whitesmoke;
}

.navigation {
	overflow: hidden;
	min-width: 80%;
}

.top {
	min-width: 80%;
}

ul {
	list-style-type: none;
	margin: 40px;
	width: 300px;
	padding: 0;
	float: right;
}

ul li {
	display: inline-block;
	margin: 10px;
}

a {
	color: black;
	text-decoration: none;
	/*float: right;*/
}

