.askQuestionStyle label{
    display: block;
    color: black;
	max-width: 100%;
    padding: 0.5rem;
}

.askQuestionStyle input,
.askQuestionStyle textarea{
	max-width: 90%;
}

.askQuestionStyle {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.1), 0 6px 20px 0 rgb(0, 0, 0, 0.1);
   text-align: center;
   background-color: LightYellow;
   position: absolute;
   min-width: 60%;
   min-height: 100vh;
   
}

.askQtn-banner h1{
    font-size: 1.2rem;
    color: black;
}

.askQtn-banner li{
    list-style: disc;
    text-align: center;
    
}

.askQtn-banner {
    display: inline-block;
    text-align: center;
    border: 1px solid red;
    margin: auto;
    width: 80%;
}

.AskQtnCloseBtn {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.AskQtnCloseBtn span{	
	font-weight: bolder;
	font-size: x-large;
	color: rgb(218, 74, 22);;
}

.AskQtnCloseBtn:hover {
	border: 1px solid rgb(218, 74, 22);;
	padding: 0;
	background-color: hsl(0, 59%, 41%, 0.3);
}
/* 
.show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.6);  
    z-index: 10;
    width: 100%;
    min-height: 1200px;
} */

.hide {
    display: none;
}
