.listedQtnThreadFormat button, 
.listedQtnThreadFormat button:hover, 
.listedQtnThreatFormat button:focus {
  outline: none;
}

.listedQtnThreadFormat button {
  border: none; 
}

.questionStyle:hover{
	background-color: rgb(0, 0, 0,0.1);

}


.listedQtnThreadFormat {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  overflow-y: scroll;
	scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
	scrollbar-color: rebeccapurple green;
}



